<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Bridge</title>
    <script src="https://kit.fontawesome.com/89a6ffe7be.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div style="display: flex;justify-content: center;align-items:center;" class="container">
        <div style="background-color: white;padding:4% 4%;margin-top:25%;border-radius:15px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;margin:3%"
            class="col-md-12">
            <h1><b>Terms and Condition</b></h1>
            <p>
                Selamat datang di FoodBridge. Terima kasih atas minat Anda untuk berdonasi makanan kepada food bank
                kami. Untuk memastikan bahwa donasi makanan yang diterima aman dan layak dikonsumsi,
                kami menetapkan beberapa syarat dan ketentuan sebagai berikut:
            </p>
            <h3>Syarat Umum</h3>
            <ul>
                <li>Pendaftaran: Perusahaan atau toko harus terdaftar secara resmi dan memiliki izin usaha yang sah
                    dengan memiliki NPWP.</li>
                <li>Verifikasi: Semua perusahaan atau toko yang mendaftar akan melalui proses verifikasi oleh admin
                    untuk memastikan keabsahan dan kelayakan.</li>
            </ul>

            <h3>Kualitas Makanan</h3>
            <ul>
                <li>Keamanan Pangan: Semua makanan yang didonasikan harus memenuhi standar keamanan pangan yang
                    ditetapkan
                    oleh Badan Pengawas Obat dan Makanan (BPOM) atau menetapkan 5 kunci keamanan pangan.</li>
                <li>Kualitas: Makanan yang didonasikan harus dalam kondisi baik, tidak rusak, dan belum kedaluwarsa.
                    Kemasan: Makanan harus dikemas dengan baik untuk menjaga kualitas dan kebersihan. Kemasan harus
                    dalam
                    kondisi utuh tanpa kebocoran atau kerusakan.</li>
            </ul>
            <h3>Jenis Makanan</h3>
            <ul>
                <li>
                    Makanan Segar: Untuk makanan segar seperti buah, sayur, daging, dan produk susu, donasi harus
                    dilakukan
                    dalam keadaan segar dan disimpan dengan benar hingga pengiriman.
                </li>
                <li>
                    Makanan Kering: Untuk makanan kering atau kemasan, pastikan bahwa produk tersebut masih dalam masa
                    kedaluwarsa dan tidak ada tanda-tanda kerusakan pada kemasan.
                </li>
                <li>
                    Makanan Non-Halal: Untuk makanan Non-Halal, pastikan konsumen mengetahui bahwa makanan tidak halal.
                </li>
            </ul>
            <h3>Larangan</h3>
            <ul>
                <li>Makanan Beracun: Dilarang keras mendonasikan makanan yang mengandung bahan berbahaya atau beracun.
                </li>
                <li>Makanan Tidak Layak: Dilarang mendonasikan makanan yang telah kedaluwarsa, rusak, atau tidak layak
                    konsumsi.</li>
                <li>Makanan Dilarang Negara: Dilarang mendonasikan makanan yang mengandung bahan dilarang oleh negara,
                    termasuk narkoba.</li>
            </ul>

            <h3>Dasar Hukum</h3>
            <ul>
                <li>Undang-undang (UU) No. 18 Tahun 2012 - Pangan: </br>
                    https://peraturan.bpk.go.id/Details/39100/uu-no-18-tahun-2012</li>
                <li>Undang-undang (UU) No. 35 Tahun 2009 - Narkotika:</br>
                    https://peraturan.bpk.go.id/Details/38776/uu-no-35-tahun-2009</li>
                <li>Undang-undang (UU) No. 8 Tahun 1999 - Perlindungan Konsumen:</br>
                    https://peraturan.bpk.go.id/Details/45288/uu-no-8-tahun-1999</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>